<html>
<head>
	<title>Graficos</title>
	<script src="https://code.highcharts.com/stock/highstock.js"></script>
	<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
	<script src="../static/js/graficos.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/graficos.css">
</head>
<body>
	<div id="monitor">
		<div id="graphs">
			<div id="cardioGraph">
				<div id="container">Este navegador não suporta o gráfico</div>
			</div>
		</div>
		<div id="numbers">
			<div id="cardioNumber">
				<div id="bps">{{valorEixoY}}</div>
			</div>
		</div>
		<!-- <iframe
			allow="microphone;"
			width="100%"
			height="9%"
			src="https://console.dialogflow.com/api-client/demo/embedded/fschezaro">
		</iframe> -->
	</div>
	<input type="hidden" id="eixoY" value="{{valorEixoY}}" />
</body>
</html>