#monitor {
    margin: 10px;
    background-color: black;
    border: 5px solid green; 
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: black;
}

#graphs {
    grid-column: 1 / 5 ;
}

#cardioGraph {
    border-right: 3px solid green;
}

#container, #bps {
    grid-column-start: 1;
    grid-column-end: 4;
}

#numbers {
    border-left: 1.5px solid green;
}

#cardioNumber {
    grid-column-start: 1;
    grid-column-end: 4;
}

#bps {
    color: #00FF00;   
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
}







/* #cardio {
    background-color: black;
    margin: 10px;
    border: 6px solid green;
}

#cardioGraph {
    max-width: 80%;
    border-right: 3px solid green;
}

#cardioNumber {
    background-color: blue;
    height: 80%;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20%;
    border-left: 3px solid green;
}

#bps {
    max-width: 80%;
    font-size: 100px;
    text-align: center;
    vertical-align: 50%;
} */